.div{
  position: relative;
  z-index: 300;
  height: 10vh;
}
.loader-xbox{
  position:absolute;
  top: calc(50% - 25px);
  left:calc(50% - 25px);

}
.loader-xbox,
.loader-xbox:before,
.loader-xbox:after {
  position: absolute;
  border: solid 3px transparent;
  border-top: solid 3px hsl(131, 91%, 48%);
  box-shadow: 2px 1px 2px 1px rgb(255, 238, 0);
  border-radius: 50%;
  animation: rotate linear infinite;
  content: "";
}
.loader-xbox{
  height: 100px;
  width: 100px;
  animation-duration: 1.05s;
}
.loader-xbox:before{
  height: 75px;
  width: 75px;
  top: 10px;
  left: 10px;
  animation-duration: 10s;
}

.loader-xbox:after{
height: 50px;
width: 50px;
top: 22px;
left: 22px;
animation-duration: 4s;
}
@keyframes rotate{
  from{
      transform: rotateZ(360deg);
  }
  to{
      transform: rotateZ(0deg);
  }
}
