.img{ 
    // height: 100%;
    // width: 100%;
    margin: 0;
    // object-fit: cover;
}
.mat-button{
    // display: flex;
    // align-items: center;
    // justify-content: center; 
    scale: .7;
    width: 60px;
    height:60px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    padding: 0;
}