<!-- Footer -->
<footer class="text-center pt-2 text-lg-start bg-dark text-muted">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 " style="font-size: 14px;">
                <!-- <i class=""></i> -->
              <i class="fa-solid fa-school me-3 text-secondary"></i> <span >IE</span> Victoria Manzur
            </h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="font-size: 14px;">  Producto  </h6> 
              <p class="text-reset">Timbre automatizado</p>
              <a href="https://wa.link/fn1h3t" target="_blank" class="me-4 link-secondary">
                <i class="fa-brands fa-whatsapp"></i> <span> Soporte tecnico</span>
              </a>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="font-size: 14px;">Contacto</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Cra. 35 #192, Montería, Córdoba</p>
          </div> 
        </div> 
      </div>
    </section>  
    <div class="text-center p-2" style="background-color: rgba(6, 6, 6, 0.896);">
      © {{anio}} Copyright: Institucion Educativa Victoria Manzur
    </div> 
  </footer> 